* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
     body {
        font-size: 10px;
     }
}


@mixin header_styling {
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    color: #666666;
    font-size: 1.1em;
}

.section, .header, .footer {
    width: 100%;
    min-height: 100px;
    display: inline-block;
    margin: 5px 0;
}

.section-header {
    width: 100%;
    padding: 30px;
    @include header_styling();
    font-size: 1.3em;
    font-weight: 700;
    background-color: #f9f9f9;
}

.home {
    min-height: 50px;
    height: 50px;
}