.contact-wrap {
    width: 100%;
    background-color: #FEE7D7;
    display: inline-block;
    padding: 15px 0;
}
.contact-content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;

    .left {
        float: left;
        max-width: 500px;
    }
    .right {
        float: left;
    }
}

.contact-info {
    display: inline-block;
    margin-top: 15px;

    .hours, .contact_us {
        float: left;
        li {
            padding: 5px 0;
        }
    }

    .contact_us {
        margin-left: 15px;
    }
}