.faq {
    h4 {
        color: #27415a;
        font-weight: 700;
        line-height: 1.5em;
        font-size: 1.3em;
    }
    > ul {
        padding: 30px;
        max-width: 756px;
        text-align: left;
        width: 100%;
        margin: 0 auto;
        > li {
            margin: 15px 0;
        }
    }

    p {
        line-height: 1.5em;
    }

    .inline-list {
        list-style: disc;
        margin-left: 30px;
        li {
            margin: 5px 0;
            line-height: 1.5em;
        }
    }
}