.header {
    text-align: center;
    .logo {
        margin: 75px auto 0 auto;
        width: 100%;
        max-width: 700px;
        min-width: 300px;
        text-align: center;
        img {
            width: 100%;
        }
    }
    .logo-small {
        width: 9.375em;
    }
    .nav_wrapper {
        transition: top 0.2s ease-in-out;
        width: 100%;
        text-align: center;
        padding-top: 5px;
        .logo-small {
            display: none;
        }
        &.fxd {
            border-bottom: 1px solid #000;
            background: #FFF;
            z-index: 10000;
            .logo-small {
                display: inline-block;
            }
        }

    }
    .nav {
        display: inline-block;
    }
    .nav li{
        float: left;
        margin-left: 15px;
        line-height: 45px;
        text-transform: uppercase;
        a {
            text-decoration: none;
            font-size: .9em;
            color: #666666;
            &:hover, &.active {
                border-bottom: 4px solid #333;
            }
        }
    }
}
