.home {
    text-align: center;
    background: #31383c;
    padding: 50px;
    color: #FFF;
    p {
        font-size: 1.5em;
        margin: 0 30%;
        line-height: 1.5em;
        font-weight: 300;
    }
}

.home-title {
    font-size: 3em;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 50px;
}
