.order {
    padding-top: 30px;
}
.pricing-levels {
    width: 100%;
    display: inline-block;
    padding: 5px;

    .tier {
        @include header_styling();
        border: none;
        width: 30%;
        margin-left: 1%;
        float: left;
        display: block;
        cursor: pointer;
        padding: 10px;
        &:hover, &.selected {
            border-bottom: 4px solid #1caeae;
            background-color: #d1f8f8;
        }
    }
}

.order-form {
    padding: 60px;
    font-size: 1.1em;
    background-color: #31383c;
    color: #FFF;

    p {
        line-height: 1.5em;
    }
    .phone-number {
        color: #FFF;
        margin: 0 10px;
    }
}
.pricing-table-wrap {
    padding: 5px;
    .pricing-table {
        width: 100%;
    }    
    @import "table";
}

.order-questions {
    display: inline-block;
    width: 100%;
    list-style: disc;
    margin: 10px 0;
    margin-left: 40px;
    li {
        padding: 5px 0;
        font-size: .8em;
        line-height: 1.5em;
    }
}

.order-now {
    background-color: #20C3D0;
    text-decoration: none;
    border: none;
    font-size: 1.3em;
    font-family: 'GillSans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #FFF;
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    display: block;
    max-width: 500px;
    text-align: center;
    &:hover {
        background-color: #1caeae;
    }
}